@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Noto Sans', sans-serif;
    line-height: 2em;
}
.Container1{
    margin: 0 auto;
    max-width: 900px;
}
h1, h2, h3{

  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: auto;
  color: white;
  font-size: 20px;

}
h2{
    
    background-color:#E07BE0;

}

/* Here is the code from the navigation var */

nav ul {
    display: grid;
    border-radius: 10px;
    
}
nav ul li {
    flex: 1 1 100%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E07BE0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #DCCCFF;
  }

header, footer{
    background-color: #BF1363;
    padding: .75rem;
    margin: 0 auto;
    text-align: center;  
}
#end{
    text-align: center;  
}  

#outputDiv{
 
    font-size: 14px;
}
main {
    padding: 5px;
    margin: 0 auto;
    display: grid;
    font-size: 0.8rem;
    
   
}
.sitelogo{
    width: 100px;
    margin: none;
    border-style: none;
    box-shadow: none;
    float: left;
}
img{
    margin: 5px 5px 5px 5px;
    border-style: solid;
    width: 90%;
    height: auto;
}


p{
    margin: 50px;
    text-align: justify;
    font-size: 20px;
}
a {
    margin: 0px 10px;
}
section{
        margin: 1px;
        background-color: #DCCCFF;
        text-align: center;
}