@media only screen and (min-width: 37em){
    h1{
font-size: 2.5rem;
    }

    h2{
        font-size: 1rem;
    }
    img{
    
        border-radius: 10px;
        box-shadow: 1px 1px 1px 1px grey;
    }

    header, footer{
        border-radius: 10px;
    }
    
        main {
            grid-template-columns: 1fr;
        }
        
    }



